In [1]:
import pandas as pd
import seaborn as sns
from sklearn import linear_model
from sklearn.preprocessing import LabelEncoder

df_sales = pd.read_csv('df_cleaned_sale.csv')

df_sales

,BathroomCount,BedroomCount,ConstructionYear,District,Fireplace,Furnished,Garden,GardenArea,Kitchen,LivingArea,...,StateOfBuilding,SubtypeOfProperty,SurfaceOfPlot,SwimmingPool,Terrace,ToiletCount,TypeOfSale,Condition_Rank,PEB_Rank,Kitchen_Rank
0,1,1,1969,Brugge,0,0,0,127,INSTALLED,29,...,GOOD,flat_studio,333,0,1,1,residential_sale,4,6,3
1,2,4,2008,Brugge,0,1,0,127,INSTALLED,111,...,GOOD,house,0,0,0,2,residential_sale,4,6,3
2,1,4,2002,Veurne,0,0,1,1,INSTALLED,120,...,TO_BE_DONE_UP,house,170,0,1,2,residential_sale,3,2,3
3,0,2,1972,Hasselt,0,0,0,127,INSTALLED,92,...,AS_NEW,apartment,333,0,1,1,residential_sale,6,6,3
4,1,1,1994,Brussels,0,1,0,127,HYPER_EQUIPPED,50,...,AS_NEW,apartment,333,0,1,1,residential_sale,6,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96141,1,1,2017,Tongeren,0,0,0,127,SEMI_EQUIPPED,83,...,GOOD,service_flat,333,0,1,1,residential_sale,4,7,2
96142,1,3,2024,Gent,0,0,1,168,INSTALLED,129,...,GOOD,house,234,0,0,0,residential_sale,4,6,3
96143,4,4,2002,Antwerp,0,0,0,127,INSTALLED,318,...,JUST_RENOVATED,apartment_block,202,0,0,1,residential_sale,5,5,3
96144,1,2,2002,Antwerp,0,0,0,127,HYPER_EQUIPPED,85,...,GOOD,apartment,333,0,1,1,residential_sale,4,4,4
96145,1,2,2002,Brugge,0,0,0,127,INSTALLED,100,...,GOOD,apartment,333,0,1,1,residential_sale,4,4,3

replacing qualitative variables by numbers

In [2]:

categorical_columns = [
    'District', 'Fireplace', 'Furnished', 'Garden', 'Kitchen', 'Locality', 
    'PEB', 'Province', 'Region', 'StateOfBuilding', 'SubtypeOfProperty', 
    'SwimmingPool', 'Terrace', 'TypeOfSale'
]

label_encoder = LabelEncoder()


for column in categorical_columns:
    df_sales[column] = label_encoder.fit_transform(df_sales[column])


mappings = {}
for column in categorical_columns:
    mappings[column] = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))


for column, mapping in mappings.items():
    print(f"Mapping for {column}: {mapping}")

Mapping for District: {'residential_sale': 0}
Mapping for Fireplace: {'residential_sale': 0}
Mapping for Furnished: {'residential_sale': 0}
Mapping for Garden: {'residential_sale': 0}
Mapping for Kitchen: {'residential_sale': 0}
Mapping for Locality: {'residential_sale': 0}
Mapping for PEB: {'residential_sale': 0}
Mapping for Province: {'residential_sale': 0}
Mapping for Region: {'residential_sale': 0}
Mapping for StateOfBuilding: {'residential_sale': 0}
Mapping for SubtypeOfProperty: {'residential_sale': 0}
Mapping for SwimmingPool: {'residential_sale': 0}
Mapping for Terrace: {'residential_sale': 0}
Mapping for TypeOfSale: {'residential_sale': 0}

In [3]:
df_sales.head()

,BathroomCount,BedroomCount,ConstructionYear,District,Fireplace,Furnished,Garden,GardenArea,Kitchen,LivingArea,...,StateOfBuilding,SubtypeOfProperty,SurfaceOfPlot,SwimmingPool,Terrace,ToiletCount,TypeOfSale,Condition_Rank,PEB_Rank,Kitchen_Rank
0,1,1,1969,5,0,0,0,127,1,29,...,1,9,333,0,1,1,0,4,6,3
1,2,4,2008,5,0,1,0,127,1,111,...,1,11,0,0,0,2,0,4,6,3
2,1,4,2002,40,0,0,1,1,1,120,...,3,11,170,0,1,2,0,3,2,3
3,0,2,1972,14,0,0,0,127,1,92,...,0,0,333,0,1,1,0,6,6,3
4,1,1,1994,6,0,1,0,127,0,50,...,0,0,333,0,1,1,0,6,3,4

model import and settings

In [8]:
import pickle
from sklearn.model_selection import train_test_split
from catboost import CatBoostRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Assuming df_sales is your DataFrame
# Define the target variable and features
X = df_sales.drop(columns=['Price'])
y = df_sales['Price']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Random Forest Regressor
rf_model = CatBoostRegressor(n_estimators=100, random_state=42)

# Train the model
rf_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf_model.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mse ** 0.5

print(f"Mean Absolute Error: {mae}")
print(f"Root Mean Squared Error: {rmse}")

rf_model.save_model('catboost_model.cbm')

Learning rate set to 0.5
0:	learn: 169788.3809996	total: 17.5ms	remaining: 1.73s
1:	learn: 152970.8529236	total: 34.6ms	remaining: 1.69s
2:	learn: 141920.5153290	total: 52.6ms	remaining: 1.7s
3:	learn: 136513.4607333	total: 68.4ms	remaining: 1.64s
4:	learn: 130402.0788911	total: 83.6ms	remaining: 1.59s
5:	learn: 128122.8367780	total: 98ms	remaining: 1.53s
6:	learn: 126672.5943206	total: 110ms	remaining: 1.46s
7:	learn: 123806.2679650	total: 124ms	remaining: 1.42s
8:	learn: 122058.0409650	total: 136ms	remaining: 1.38s
9:	learn: 120708.4163665	total: 150ms	remaining: 1.35s
10:	learn: 119672.1388169	total: 162ms	remaining: 1.31s
11:	learn: 118917.0223346	total: 176ms	remaining: 1.29s
12:	learn: 118180.0536467	total: 198ms	remaining: 1.32s
13:	learn: 117289.0466394	total: 230ms	remaining: 1.41s
14:	learn: 116838.4837793	total: 247ms	remaining: 1.4s
15:	learn: 115830.6192113	total: 259ms	remaining: 1.36s
16:	learn: 114965.5593611	total: 271ms	remaining: 1.32s
17:	learn: 114431.1459540	total: 284ms	remaining: 1.29s
18:	learn: 113497.7152161	total: 297ms	remaining: 1.27s
19:	learn: 112771.8253118	total: 312ms	remaining: 1.25s
20:	learn: 112155.3296343	total: 332ms	remaining: 1.25s
21:	learn: 111409.4196877	total: 345ms	remaining: 1.22s
22:	learn: 110698.2457912	total: 359ms	remaining: 1.2s
23:	learn: 110009.8670064	total: 370ms	remaining: 1.17s
24:	learn: 109503.4906456	total: 382ms	remaining: 1.15s
25:	learn: 109043.3079122	total: 392ms	remaining: 1.12s
26:	learn: 108608.2080322	total: 403ms	remaining: 1.09s
27:	learn: 108257.0243583	total: 413ms	remaining: 1.06s
28:	learn: 108020.6758506	total: 428ms	remaining: 1.05s
29:	learn: 107581.1385978	total: 446ms	remaining: 1.04s
30:	learn: 107253.8357095	total: 460ms	remaining: 1.02s
31:	learn: 106716.7569331	total: 472ms	remaining: 1s
32:	learn: 106345.1492240	total: 483ms	remaining: 981ms
33:	learn: 105951.7253600	total: 495ms	remaining: 960ms
34:	learn: 105386.9667650	total: 508ms	remaining: 943ms
35:	learn: 105124.7486190	total: 521ms	remaining: 927ms
36:	learn: 104813.9526035	total: 536ms	remaining: 913ms
37:	learn: 104594.1949933	total: 550ms	remaining: 898ms
38:	learn: 104300.1195524	total: 564ms	remaining: 882ms
39:	learn: 104011.0453261	total: 578ms	remaining: 866ms
40:	learn: 103741.4216081	total: 593ms	remaining: 853ms
41:	learn: 103475.8152714	total: 609ms	remaining: 841ms
42:	learn: 103266.4271036	total: 623ms	remaining: 825ms
43:	learn: 102883.0591999	total: 643ms	remaining: 818ms
44:	learn: 102616.8731026	total: 675ms	remaining: 825ms
45:	learn: 102332.9729089	total: 696ms	remaining: 817ms
46:	learn: 102112.1799457	total: 713ms	remaining: 804ms
47:	learn: 101841.8880470	total: 726ms	remaining: 787ms
48:	learn: 101698.1760697	total: 738ms	remaining: 768ms
49:	learn: 101414.9979284	total: 752ms	remaining: 752ms
50:	learn: 101214.2452099	total: 770ms	remaining: 740ms
51:	learn: 100978.5559622	total: 782ms	remaining: 721ms
52:	learn: 100817.5520817	total: 792ms	remaining: 702ms
53:	learn: 100453.2176776	total: 804ms	remaining: 685ms
54:	learn: 100288.7190568	total: 815ms	remaining: 667ms
55:	learn: 100139.8440286	total: 823ms	remaining: 646ms
56:	learn: 100012.0662080	total: 834ms	remaining: 629ms
57:	learn: 99834.1491510	total: 849ms	remaining: 615ms
58:	learn: 99658.8229505	total: 862ms	remaining: 599ms
59:	learn: 99497.7463475	total: 872ms	remaining: 581ms
60:	learn: 99386.0429724	total: 886ms	remaining: 566ms
61:	learn: 99215.7027311	total: 901ms	remaining: 552ms
62:	learn: 99073.1120724	total: 912ms	remaining: 536ms
63:	learn: 98862.2241813	total: 925ms	remaining: 520ms
64:	learn: 98679.6877545	total: 937ms	remaining: 504ms
65:	learn: 98474.6062002	total: 949ms	remaining: 489ms
66:	learn: 98255.7723796	total: 966ms	remaining: 476ms
67:	learn: 98089.4002235	total: 975ms	remaining: 459ms
68:	learn: 97915.3384868	total: 987ms	remaining: 443ms
69:	learn: 97759.6644316	total: 998ms	remaining: 428ms
70:	learn: 97598.3987313	total: 1.01s	remaining: 412ms
71:	learn: 97511.2761511	total: 1.02s	remaining: 396ms
72:	learn: 97374.2092104	total: 1.03s	remaining: 382ms
73:	learn: 97245.7849338	total: 1.05s	remaining: 368ms
74:	learn: 97028.6162172	total: 1.06s	remaining: 355ms
75:	learn: 96860.9592667	total: 1.08s	remaining: 341ms
76:	learn: 96651.6516306	total: 1.1s	remaining: 329ms
77:	learn: 96426.0044722	total: 1.12s	remaining: 316ms
78:	learn: 96316.9668259	total: 1.14s	remaining: 302ms
79:	learn: 96235.0536940	total: 1.15s	remaining: 287ms
80:	learn: 96002.1623212	total: 1.16s	remaining: 273ms
81:	learn: 95817.9331004	total: 1.17s	remaining: 258ms
82:	learn: 95704.5916337	total: 1.18s	remaining: 243ms
83:	learn: 95530.5048194	total: 1.2s	remaining: 228ms
84:	learn: 95354.8781577	total: 1.22s	remaining: 215ms
85:	learn: 95228.3316504	total: 1.24s	remaining: 202ms
86:	learn: 95092.5389634	total: 1.26s	remaining: 189ms
87:	learn: 94991.3953721	total: 1.28s	remaining: 174ms
88:	learn: 94906.1105562	total: 1.3s	remaining: 160ms
89:	learn: 94792.8087369	total: 1.31s	remaining: 145ms
90:	learn: 94648.7374448	total: 1.32s	remaining: 131ms
91:	learn: 94481.8999872	total: 1.34s	remaining: 116ms
92:	learn: 94346.6418558	total: 1.35s	remaining: 102ms
93:	learn: 94273.9159006	total: 1.36s	remaining: 86.9ms
94:	learn: 94178.7373004	total: 1.37s	remaining: 72.2ms
95:	learn: 94102.3398403	total: 1.39s	remaining: 57.9ms
96:	learn: 94020.2260021	total: 1.4s	remaining: 43.4ms
97:	learn: 93943.5293641	total: 1.41s	remaining: 28.8ms
98:	learn: 93763.0143782	total: 1.43s	remaining: 14.4ms
99:	learn: 93700.3840216	total: 1.45s	remaining: 0us
Mean Absolute Error: 64437.77462781455
Root Mean Squared Error: 102196.92091445191