In [3]:
import pandas as pd
import seaborn as sns
from sklearn import linear_model
from sklearn.preprocessing import LabelEncoder

df_sales = pd.read_csv('df_cleaned_sale.csv')

df_sales

,BathroomCount,BedroomCount,ConstructionYear,District,Fireplace,Furnished,Garden,GardenArea,Kitchen,LivingArea,...,StateOfBuilding,SubtypeOfProperty,SurfaceOfPlot,SwimmingPool,Terrace,ToiletCount,TypeOfSale,Condition_Rank,PEB_Rank,Kitchen_Rank
0,1,1,1969,Brugge,0,0,0,127,INSTALLED,29,...,GOOD,flat_studio,333,0,1,1,residential_sale,4,6,3
1,2,4,2008,Brugge,0,1,0,127,INSTALLED,111,...,GOOD,house,0,0,0,2,residential_sale,4,6,3
2,1,4,2002,Veurne,0,0,1,1,INSTALLED,120,...,TO_BE_DONE_UP,house,170,0,1,2,residential_sale,3,2,3
3,0,2,1972,Hasselt,0,0,0,127,INSTALLED,92,...,AS_NEW,apartment,333,0,1,1,residential_sale,6,6,3
4,1,1,1994,Brussels,0,1,0,127,HYPER_EQUIPPED,50,...,AS_NEW,apartment,333,0,1,1,residential_sale,6,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96141,1,1,2017,Tongeren,0,0,0,127,SEMI_EQUIPPED,83,...,GOOD,service_flat,333,0,1,1,residential_sale,4,7,2
96142,1,3,2024,Gent,0,0,1,168,INSTALLED,129,...,GOOD,house,234,0,0,0,residential_sale,4,6,3
96143,4,4,2002,Antwerp,0,0,0,127,INSTALLED,318,...,JUST_RENOVATED,apartment_block,202,0,0,1,residential_sale,5,5,3
96144,1,2,2002,Antwerp,0,0,0,127,HYPER_EQUIPPED,85,...,GOOD,apartment,333,0,1,1,residential_sale,4,4,4
96145,1,2,2002,Brugge,0,0,0,127,INSTALLED,100,...,GOOD,apartment,333,0,1,1,residential_sale,4,4,3

replacing qualitative variables by numbers

In [4]:

categorical_columns = [
    'District', 'Fireplace', 'Furnished', 'Garden', 'Kitchen', 'Locality', 
    'PEB', 'Province', 'Region', 'StateOfBuilding', 'SubtypeOfProperty', 
    'SwimmingPool', 'Terrace', 'TypeOfSale'
]

label_encoder = LabelEncoder()


for column in categorical_columns:
    df_sales[column] = label_encoder.fit_transform(df_sales[column])


mappings = {}
for column in categorical_columns:
    mappings[column] = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))


for column, mapping in mappings.items():
    print(f"Mapping for {column}: {mapping}")

Mapping for District: {'residential_sale': 0}
Mapping for Fireplace: {'residential_sale': 0}
Mapping for Furnished: {'residential_sale': 0}
Mapping for Garden: {'residential_sale': 0}
Mapping for Kitchen: {'residential_sale': 0}
Mapping for Locality: {'residential_sale': 0}
Mapping for PEB: {'residential_sale': 0}
Mapping for Province: {'residential_sale': 0}
Mapping for Region: {'residential_sale': 0}
Mapping for StateOfBuilding: {'residential_sale': 0}
Mapping for SubtypeOfProperty: {'residential_sale': 0}
Mapping for SwimmingPool: {'residential_sale': 0}
Mapping for Terrace: {'residential_sale': 0}
Mapping for TypeOfSale: {'residential_sale': 0}

In [5]:
df_sales.head()

,BathroomCount,BedroomCount,ConstructionYear,District,Fireplace,Furnished,Garden,GardenArea,Kitchen,LivingArea,...,StateOfBuilding,SubtypeOfProperty,SurfaceOfPlot,SwimmingPool,Terrace,ToiletCount,TypeOfSale,Condition_Rank,PEB_Rank,Kitchen_Rank
0,1,1,1969,5,0,0,0,127,1,29,...,1,9,333,0,1,1,0,4,6,3
1,2,4,2008,5,0,1,0,127,1,111,...,1,11,0,0,0,2,0,4,6,3
2,1,4,2002,40,0,0,1,1,1,120,...,3,11,170,0,1,2,0,3,2,3
3,0,2,1972,14,0,0,0,127,1,92,...,0,0,333,0,1,1,0,6,6,3
4,1,1,1994,6,0,1,0,127,0,50,...,0,0,333,0,1,1,0,6,3,4

model import and settings

In [6]:
import pickle
from sklearn.model_selection import train_test_split
from catboost import CatBoostRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Assuming df_sales is your DataFrame
# Define the target variable and features
X = df_sales.drop(columns=['Price'])
y = df_sales['Price']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Random Forest Regressor
rf_model = CatBoostRegressor(n_estimators=100, random_state=42)

# Train the model
rf_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf_model.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mse ** 0.5

print(f"Mean Absolute Error: {mae}")
print(f"Root Mean Squared Error: {rmse}")

rf_model.save_model('catboost_model.cbm')

Learning rate set to 0.5
0:	learn: 169788.3809996	total: 147ms	remaining: 14.6s
1:	learn: 152970.8529236	total: 153ms	remaining: 7.51s
2:	learn: 141920.5153290	total: 159ms	remaining: 5.14s
3:	learn: 136513.4607333	total: 166ms	remaining: 3.98s
4:	learn: 130402.0788911	total: 172ms	remaining: 3.27s
5:	learn: 128122.8367780	total: 179ms	remaining: 2.8s
6:	learn: 126672.5943206	total: 185ms	remaining: 2.46s
7:	learn: 123806.2679650	total: 191ms	remaining: 2.2s
8:	learn: 122058.0409650	total: 198ms	remaining: 2s
9:	learn: 120708.4163665	total: 203ms	remaining: 1.83s
10:	learn: 119672.1388169	total: 211ms	remaining: 1.71s
11:	learn: 118917.0223346	total: 217ms	remaining: 1.59s
12:	learn: 118180.0536467	total: 223ms	remaining: 1.49s
13:	learn: 117289.0466394	total: 230ms	remaining: 1.41s
14:	learn: 116838.4837793	total: 235ms	remaining: 1.33s
15:	learn: 115830.6192113	total: 241ms	remaining: 1.26s
16:	learn: 114965.5593611	total: 247ms	remaining: 1.21s
17:	learn: 114431.1459540	total: 252ms	remaining: 1.15s
18:	learn: 113497.7152161	total: 259ms	remaining: 1.1s
19:	learn: 112771.8253118	total: 267ms	remaining: 1.07s
20:	learn: 112155.3296343	total: 290ms	remaining: 1.09s
21:	learn: 111409.4196877	total: 296ms	remaining: 1.05s
22:	learn: 110698.2457912	total: 303ms	remaining: 1.01s
23:	learn: 110009.8670064	total: 310ms	remaining: 983ms
24:	learn: 109503.4906456	total: 317ms	remaining: 950ms
25:	learn: 109043.3079122	total: 324ms	remaining: 923ms
26:	learn: 108608.2080322	total: 330ms	remaining: 892ms
27:	learn: 108257.0243583	total: 336ms	remaining: 865ms
28:	learn: 108020.6758506	total: 342ms	remaining: 837ms
29:	learn: 107581.1385978	total: 348ms	remaining: 812ms
30:	learn: 107253.8357095	total: 354ms	remaining: 788ms
31:	learn: 106716.7569331	total: 360ms	remaining: 765ms
32:	learn: 106345.1492240	total: 366ms	remaining: 743ms
33:	learn: 105951.7253600	total: 373ms	remaining: 723ms
34:	learn: 105386.9667650	total: 379ms	remaining: 703ms
35:	learn: 105124.7486190	total: 386ms	remaining: 686ms
36:	learn: 104813.9526035	total: 392ms	remaining: 667ms
37:	learn: 104594.1949933	total: 398ms	remaining: 649ms
38:	learn: 104300.1195524	total: 404ms	remaining: 632ms
39:	learn: 104011.0453261	total: 411ms	remaining: 617ms
40:	learn: 103741.4216081	total: 418ms	remaining: 601ms
41:	learn: 103475.8152714	total: 424ms	remaining: 586ms
42:	learn: 103266.4271036	total: 432ms	remaining: 573ms
43:	learn: 102883.0591999	total: 440ms	remaining: 560ms
44:	learn: 102616.8731026	total: 446ms	remaining: 545ms
45:	learn: 102332.9729089	total: 451ms	remaining: 530ms
46:	learn: 102112.1799457	total: 458ms	remaining: 516ms
47:	learn: 101841.8880470	total: 463ms	remaining: 502ms
48:	learn: 101698.1760697	total: 469ms	remaining: 489ms
49:	learn: 101414.9979284	total: 475ms	remaining: 475ms
50:	learn: 101214.2452099	total: 481ms	remaining: 462ms
51:	learn: 100978.5559622	total: 487ms	remaining: 450ms
52:	learn: 100817.5520817	total: 493ms	remaining: 437ms
53:	learn: 100453.2176776	total: 499ms	remaining: 425ms
54:	learn: 100288.7190568	total: 506ms	remaining: 414ms
55:	learn: 100139.8440286	total: 511ms	remaining: 402ms
56:	learn: 100012.0662080	total: 517ms	remaining: 390ms
57:	learn: 99834.1491510	total: 523ms	remaining: 379ms
58:	learn: 99658.8229505	total: 529ms	remaining: 368ms
59:	learn: 99497.7463475	total: 536ms	remaining: 357ms
60:	learn: 99386.0429724	total: 541ms	remaining: 346ms
61:	learn: 99215.7027311	total: 548ms	remaining: 336ms
62:	learn: 99073.1120724	total: 554ms	remaining: 325ms
63:	learn: 98862.2241813	total: 559ms	remaining: 315ms
64:	learn: 98679.6877545	total: 567ms	remaining: 305ms
65:	learn: 98474.6062002	total: 573ms	remaining: 295ms
66:	learn: 98255.7723796	total: 580ms	remaining: 286ms
67:	learn: 98089.4002235	total: 587ms	remaining: 276ms
68:	learn: 97915.3384868	total: 592ms	remaining: 266ms
69:	learn: 97759.6644316	total: 600ms	remaining: 257ms
70:	learn: 97598.3987313	total: 605ms	remaining: 247ms
71:	learn: 97511.2761511	total: 611ms	remaining: 237ms
72:	learn: 97374.2092104	total: 617ms	remaining: 228ms
73:	learn: 97245.7849338	total: 623ms	remaining: 219ms
74:	learn: 97028.6162172	total: 632ms	remaining: 211ms
75:	learn: 96860.9592667	total: 638ms	remaining: 201ms
76:	learn: 96651.6516306	total: 644ms	remaining: 192ms
77:	learn: 96426.0044722	total: 651ms	remaining: 184ms
78:	learn: 96316.9668259	total: 656ms	remaining: 174ms
79:	learn: 96235.0536940	total: 662ms	remaining: 165ms
80:	learn: 96002.1623212	total: 668ms	remaining: 157ms
81:	learn: 95817.9331004	total: 674ms	remaining: 148ms
82:	learn: 95704.5916337	total: 679ms	remaining: 139ms
83:	learn: 95530.5048194	total: 686ms	remaining: 131ms
84:	learn: 95354.8781577	total: 691ms	remaining: 122ms
85:	learn: 95228.3316504	total: 698ms	remaining: 114ms
86:	learn: 95092.5389634	total: 704ms	remaining: 105ms
87:	learn: 94991.3953721	total: 710ms	remaining: 96.8ms
88:	learn: 94906.1105562	total: 716ms	remaining: 88.5ms
89:	learn: 94792.8087369	total: 721ms	remaining: 80.2ms
90:	learn: 94648.7374448	total: 727ms	remaining: 71.9ms
91:	learn: 94481.8999872	total: 733ms	remaining: 63.7ms
92:	learn: 94346.6418558	total: 738ms	remaining: 55.6ms
93:	learn: 94273.9159006	total: 744ms	remaining: 47.5ms
94:	learn: 94178.7373004	total: 750ms	remaining: 39.5ms
95:	learn: 94102.3398403	total: 755ms	remaining: 31.5ms
96:	learn: 94020.2260021	total: 761ms	remaining: 23.5ms
97:	learn: 93943.5293641	total: 767ms	remaining: 15.6ms
98:	learn: 93763.0143782	total: 773ms	remaining: 7.8ms
99:	learn: 93700.3840216	total: 779ms	remaining: 0us
Mean Absolute Error: 64437.77462781455
Root Mean Squared Error: 102196.92091445191

In [9]:
df_sales.columns

Index(['BathroomCount', 'BedroomCount', 'ConstructionYear', 'District',
       'Fireplace', 'Furnished', 'Garden', 'GardenArea', 'Kitchen',
       'LivingArea', 'Locality', 'NumberOfFacades', 'PEB', 'PostalCode',
       'Price', 'PropertyId', 'Province', 'Region', 'RoomCount', 'ShowerCount',
       'StateOfBuilding', 'SubtypeOfProperty', 'SurfaceOfPlot', 'SwimmingPool',
       'Terrace', 'ToiletCount', 'TypeOfSale', 'Condition_Rank', 'PEB_Rank',
       'Kitchen_Rank'],
      dtype='object')