Data cleaning

Step 1: Importing Necessary Libraries

- No duplicates
- No blank spaces (ex: `" I love python "` => `"I love python"`)
- No errors
- No empty values

In [22]:
import pandas as pd

Step 2: Reading Data into a DataFrame

In [23]:
df = pd.read_json('final_dataset.json')

Step 3: Exploring the DataFrame

In [24]:
print(df.shape)
print(df.info())
print(df.describe())

(118714, 32)
<class 'pandas.core.frame.DataFrame'>
Index: 118714 entries, 2 to 181792
Data columns (total 32 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Url                118714 non-null  object
 1   BathroomCount      109112 non-null  float64
 2   BedroomCount       118714 non-null  int64
 3   ConstructionYear   68898 non-null   float64
 4   Country            118714 non-null  object
 5   District           118707 non-null  object
 6   Fireplace          4123 non-null    float64
 7   FloodingZone       58342 non-null   object
 8   Furnished          30325 non-null   float64
 9   Garden             22503 non-null   float64
 10  GardenArea         22503 non-null   float64
 11  Kitchen            67134 non-null   object
 12  LivingArea         104539 non-null  float64
 13  Locality           118712 non-null  object
 14  MonthlyCharges     13650 non-null   float64
 15  NumberOfFacades    76942 non-null   float64
 16  PEB                85074 non-null   object
 17  PostalCode         118714 non-null  int64
 18  Price              118714 non-null  int64
 19  PropertyId         118714 non-null  int64
 20  Province           118707 non-null  object
 21  Region             118707 non-null  object
 22  RoomCount          32916 non-null   float64
 23  ShowerCount        57127 non-null   float64
 24  StateOfBuilding    81622 non-null   object
 25  SubtypeOfProperty  118714 non-null  object
 26  SurfaceOfPlot      58237 non-null   float64
 27  SwimmingPool       40358 non-null   float64
 28  Terrace            68344 non-null   float64
 29  ToiletCount        96441 non-null   float64
 30  TypeOfProperty     118714 non-null  int64
 31  TypeOfSale         118714 non-null  object
dtypes: float64(15), int64(5), object(12)
memory usage: 29.9+ MB
None
       BathroomCount   BedroomCount  ConstructionYear  Fireplace  \
count  109112.000000  118714.000000      68898.000000     4123.0
mean        1.232898       2.708383       1987.345496        1.0
std         1.092045       1.855343         47.311922        0.0
min         0.000000       0.000000       1753.000000        1.0
25%         1.000000       2.000000       1964.000000        1.0
50%         1.000000       3.000000       2000.000000        1.0
75%         1.000000       3.000000       2023.000000        1.0
max       145.000000     200.000000       8071.000000        1.0

          Furnished   Garden    GardenArea     LivingArea  MonthlyCharges  \
count  30325.000000  22503.0  2.250300e+04  104539.000000    13650.000000
mean       0.070041      1.0  4.509960e+04     167.396417       84.239853
std        0.255221      0.0  6.666220e+06    1814.592952      179.608171
min        0.000000      1.0  1.000000e+00       9.000000        0.000000
25%        0.000000      1.0  4.800000e+01      90.000000        0.000000
50%        0.000000      1.0  1.400000e+02     124.000000       30.000000
75%        0.000000      1.0  4.500000e+02     182.000000      120.000000
max        1.000000      1.0  1.000000e+09  452230.000000     5250.000000

       NumberOfFacades     PostalCode         Price    PropertyId  \
count     76942.000000  118714.000000  1.187140e+05  1.187140e+05
mean          2.791557    5166.113129  3.815797e+05  1.245875e+07
std           0.872792    3060.657713  4.754330e+05  3.131297e+06
min           1.000000       0.000000  1.000000e+00  1.882546e+06
25%           2.000000    2250.000000  2.000000e+05  1.114592e+07
50%           3.000000    4671.000000  3.095000e+05  1.138077e+07
75%           4.000000    8400.000000  4.390000e+05  1.146776e+07
max          24.000000    9992.000000  3.500000e+07  2.002586e+07

          RoomCount   ShowerCount  SurfaceOfPlot  SwimmingPool  Terrace  \
count  32916.000000  57127.000000   5.823700e+04  40358.000000  68344.0
mean       6.806538      0.696186   3.118253e+03      0.050994      1.0
std        5.458941      6.563612   4.776406e+05      0.219987      0.0
min        1.000000      0.000000   0.000000e+00      0.000000      1.0
25%        2.000000      0.000000   1.480000e+02      0.000000      1.0
50%        6.000000      0.000000   3.530000e+02      0.000000      1.0
75%       10.000000      1.000000   8.000000e+02      0.000000      1.0
max       68.000000   1120.000000   1.152500e+08      1.000000      1.0

        ToiletCount  TypeOfProperty
count  9.644100e+04   118714.000000
mean   4.120696e+01        1.509460
std    1.234059e+04        0.499913
min    0.000000e+00        1.000000
25%    1.000000e+00        1.000000
50%    1.000000e+00        2.000000
75%    2.000000e+00        2.000000
max    3.832365e+06        2.000000

Step 4: Data Cleaning and Preprocessing

Delete Blank spaces

In [25]:
df['Url'] = df['Url'].str.strip()
df['Country'] = df['Country'].str.strip()
df['District'] = df['District'].str.strip()
df['FloodingZone'] = df['FloodingZone'].str.strip()
df['Kitchen'] = df['Kitchen'].str.strip()
df['Locality'] = df['Locality'].str.strip()
df['PEB'] = df['PEB'].str.strip()
df['Province'] = df['Province'].str.strip()
df['Region'] = df['Region'].str.strip()
df['StateOfBuilding'] = df['StateOfBuilding'].str.strip()
df['SubtypeOfProperty'] = df['SubtypeOfProperty'].str.strip()
#df['TypeOfSale'] = df['TypeOfSale'].str.strip

Checking for duplicates

In [26]:
df.drop_duplicates('PropertyId',  inplace = True)

In [27]:
df.shape

(118714, 32)

Astype int values in  floated columns

REMOVING THE NONSENSE DATA

In [28]:
df.drop(df[df.BathroomCount > 5].index,inplace=True)
df.drop(df[df.BedroomCount > 5].index,inplace=True)
df.drop(df[df.ConstructionYear > 2020].index,inplace=True)
df.drop(df[df.LivingArea > 400].index,inplace=True)
df.drop(df[df.NumberOfFacades > 6].index,inplace=True)
df.drop(df[df.RoomCount > 6].index,inplace=True)
df.drop(df[df.ShowerCount > 5].index,inplace=True)
df.drop(df[df.SurfaceOfPlot > 1500].index,inplace=True)
df.drop(df[df.ToiletCount > 5].index,inplace=True)
df.drop(df[df.GardenArea > 400].index,inplace=True)

In [29]:
df.shape

(70967, 32)

In [30]:
df["RoomCount"].describe()

count    12781.000000
mean         2.657460
std          1.745559
min          1.000000
25%          1.000000
50%          2.000000
75%          4.000000
max          6.000000
Name: RoomCount, dtype: float64

Checking for empty values and replace by the median for numerical values and mode for non numerical values

In [31]:
df.loc[df['ShowerCount'] > 5, 'ShowerCount'] = 5
df.loc[df['BedroomCount'] > 5, 'BedroomCount'] = 5
df.loc[df['BathroomCount'] > 5, 'BathroomCount'] = 5
df.loc[df['RoomCount'] > 5, 'RoomCount'] = 5
df.loc[df['ToiletCount'] > 3, 'ToiletCount'] = 3
df.loc[df['ConstructionYear'] > 2020, 'ConstructionYear'] = 2020
df.loc[df['GardenArea'] > 200, 'ToiletCount'] = 300

In [32]:
df = df.fillna({'BathroomCount': df['BathroomCount'].median(),
                 'ConstructionYear': df['ConstructionYear'].median(),
                 'GardenArea': df['GardenArea'].median(),
                 'LivingArea': df['LivingArea'].median(), 
                 'MonthlyCharges': df['MonthlyCharges'].median(), 
                 'NumberOfFacades': df['NumberOfFacades'].median(), 
                 'RoomCount': df['RoomCount'].median(), 
                 'ShowerCount': df['ShowerCount'].median(), 
                 'SurfaceOfPlot': df['SurfaceOfPlot'].median(), 
                 'ToiletCount': df['ToiletCount'].median()
                 })

In [33]:
df = df.fillna({'FloodingZone': df['FloodingZone'].mode()[0],
                'Country': df['Country'].mode()[0], 
                'District': df['District'].mode()[0], 
                'Kitchen': df['Kitchen'].mode()[0], 
                'Locality': df['Locality'].mode()[0], 
                'PEB': df['PEB'].mode()[0], 
                'Province': df['Province'].mode()[0], 
                'Region': df['Region'].mode()[0], 
                'StateOfBuilding': df['StateOfBuilding'].mode()[0], 
                'SubtypeOfProperty': df['SubtypeOfProperty'].mode()[0], 
                #'TypeOfSale': df['TypeOfSale'].mode()[0],
                #'Fireplace': df['Fireplace'].fillna(0),
                'Furnished': df['Furnished'].mode()[0],
                'SwimmingPool': df['SwimmingPool'].mode()[0], 
                #'Terrace': df['Terrace'].fillna(0),
                #'Garden': df['Garden'].fillna(0)
                 })

In [34]:
df['Fireplace'] = df['Fireplace'].fillna(0)
df['Terrace'] = df['Terrace'].fillna(0)
df['Garden'] = df['Garden'].fillna(0)

In [35]:
df = df.dropna(subset=['Locality'])

In [36]:
df = df.astype({'BathroomCount': 'int64', 'ConstructionYear': 'int64', 'Fireplace': 'int64', 'Furnished': 'int64', 'Garden': 'int64', 'GardenArea': 'int64', 'LivingArea': 'int64', 'MonthlyCharges':'int64', 'NumberOfFacades': 'int64', 'RoomCount': 'int64', 'ShowerCount': 'int64', 'SurfaceOfPlot': 'int64', 'SwimmingPool': 'int64', 'Terrace': 'int64', 'ToiletCount': 'int64'})
df.head()

,Url,BathroomCount,BedroomCount,ConstructionYear,Country,District,Fireplace,FloodingZone,Furnished,Garden,...,RoomCount,ShowerCount,StateOfBuilding,SubtypeOfProperty,SurfaceOfPlot,SwimmingPool,Terrace,ToiletCount,TypeOfProperty,TypeOfSale
2,https://www.immoweb.be/en/classified/apartment...,1,1,1969,Belgium,Brugge,0,NON_FLOOD_ZONE,0,0,...,1,0,GOOD,flat_studio,255,0,1,1,2,residential_sale
8,https://www.immoweb.be/en/classified/house/for...,2,4,2008,Belgium,Brugge,0,NON_FLOOD_ZONE,1,0,...,2,0,GOOD,house,0,0,0,2,1,residential_sale
10,https://www.immoweb.be/en/classified/house/for...,1,4,1971,Belgium,Veurne,0,NON_FLOOD_ZONE,0,1,...,2,0,TO_BE_DONE_UP,house,170,0,1,2,1,residential_sale
11,https://www.immoweb.be/en/classified/apartment...,0,2,1972,Belgium,Hasselt,0,NON_FLOOD_ZONE,0,0,...,1,0,AS_NEW,apartment,255,0,1,1,2,residential_sale
14,https://www.immoweb.be/en/classified/apartment...,1,1,1994,Belgium,Brussels,0,NON_FLOOD_ZONE,1,0,...,2,0,AS_NEW,apartment,255,0,1,1,2,residential_sale

In [37]:
#seperating for-sale and for-rent
dfsale = df[df['TypeOfSale'] == "residential_sale"]
dfrent = df[df['TypeOfSale'] == "residential_monthly_rent"]

In [38]:
#removing useless columns for each
dfsale = dfsale.drop(columns=['TypeOfProperty','FloodingZone','Url','MonthlyCharges','Country'])
dfrent = dfrent.drop(columns=['TypeOfProperty','FloodingZone','Url','Country','Furnished'])

In [39]:
#removing nonsense price values for each
dfsale.drop(dfsale[dfsale.Price > 1500000].index,inplace=True)
dfsale.drop(dfsale[dfsale.Price < 90000].index,inplace=True)

dfrent.drop(dfrent[dfrent.Price > 18000].index,inplace=True)
dfrent.drop(dfrent[dfrent.Price < 250].index,inplace=True)
dfrent.drop(dfrent[dfrent.MonthlyCharges > 900].index,inplace=True)

In [40]:
df['SubtypeOfProperty'].value_counts()

SubtypeOfProperty
apartment               29557
house                   26209
ground_floor             2324
duplex                   2083
flat_studio              2026
villa                    1698
penthouse                1319
apartment_block          1317
mixed_use_building       1159
service_flat              626
kot                       581
town_house                508
mansion                   314
loft                      312
bungalow                  305
triplex                   212
country_cottage           102
chalet                    101
exceptional_property       82
other_property             58
farmhouse                  41
manor_house                25
show_house                  3
pavilion                    3
castle                      2
Name: count, dtype: int64

In [41]:
df['StateOfBuilding'].value_counts()

StateOfBuilding
GOOD              46014
AS_NEW            11778
TO_RENOVATE        4801
JUST_RENOVATED     4114
TO_BE_DONE_UP      3954
TO_RESTORE          306
Name: count, dtype: int64

In [42]:
df['PEB'].value_counts()

PEB
B       27910
C       10612
D        8382
A        6940
F        6540
E        5552
G        3842
A+        908
A++       242
B_A        30
F_C         2
F_E         2
E_D         1
G_F         1
A_A+        1
G_C         1
F_D         1
Name: count, dtype: int64

In [43]:
df['Kitchen'].value_counts()

Kitchen
INSTALLED             51221
HYPER_EQUIPPED         9361
SEMI_EQUIPPED          6022
NOT_INSTALLED          2427
USA_INSTALLED           907
USA_HYPER_EQUIPPED      794
USA_SEMI_EQUIPPED       163
USA_UNINSTALLED          72
Name: count, dtype: int64

In [44]:
df.to_csv('DF_cleaned.csv')
dfsale.to_csv('df_cleaned_sale.csv',index=False)
dfrent.to_csv('df_cleaned_rent.csv',index=False)