Data cleaning

Step 1: Importing Necessary Libraries

- No duplicates
- No blank spaces (ex: `" I love python "` => `"I love python"`)
- No errors
- No empty values

In [3]:
import pandas as pd
import json
import csv
import numpy as np

Step 2: Reading Data into a DataFrame

In [4]:
df = pd.read_json('final_dataset.json')
df

,Url,BathroomCount,BedroomCount,ConstructionYear,Country,District,Fireplace,FloodingZone,Furnished,Garden,...,RoomCount,ShowerCount,StateOfBuilding,SubtypeOfProperty,SurfaceOfPlot,SwimmingPool,Terrace,ToiletCount,TypeOfProperty,TypeOfSale
2,https://www.immoweb.be/en/classified/apartment...,1.0,1,1969.0,Belgium,Brugge,NaN,None,NaN,NaN,...,1.0,0.0,GOOD,flat_studio,NaN,NaN,1.0,1.0,2,residential_sale
6,https://www.immoweb.be/en/classified/house/for...,6.0,13,1920.0,Belgium,Tournai,NaN,None,0.0,NaN,...,31.0,NaN,GOOD,apartment_block,130.0,NaN,NaN,5.0,1,residential_sale
8,https://www.immoweb.be/en/classified/house/for...,2.0,4,2008.0,Belgium,Brugge,NaN,NON_FLOOD_ZONE,1.0,NaN,...,NaN,0.0,GOOD,house,0.0,NaN,NaN,2.0,1,residential_sale
10,https://www.immoweb.be/en/classified/house/for...,1.0,4,NaN,Belgium,Veurne,NaN,None,NaN,1.0,...,NaN,NaN,TO_BE_DONE_UP,house,170.0,0.0,1.0,2.0,1,residential_sale
11,https://www.immoweb.be/en/classified/apartment...,0.0,2,1972.0,Belgium,Hasselt,NaN,NON_FLOOD_ZONE,NaN,NaN,...,1.0,0.0,AS_NEW,apartment,NaN,NaN,1.0,1.0,2,residential_sale
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181788,https://www.immoweb.be/en/classified/house/for...,1.0,3,2024.0,Belgium,Gent,NaN,None,NaN,1.0,...,4.0,NaN,GOOD,house,234.0,NaN,NaN,0.0,1,residential_sale
181789,https://www.immoweb.be/en/classified/house/for...,4.0,4,NaN,Belgium,Antwerp,NaN,None,0.0,NaN,...,NaN,NaN,JUST_RENOVATED,apartment_block,202.0,NaN,NaN,NaN,1,residential_sale
181790,https://www.immoweb.be/en/classified/apartment...,1.0,2,NaN,Belgium,Antwerp,NaN,NON_FLOOD_ZONE,NaN,NaN,...,NaN,NaN,GOOD,apartment,NaN,0.0,1.0,1.0,2,residential_sale
181791,https://www.immoweb.be/en/classified/apartment...,1.0,2,NaN,Belgium,Brugge,NaN,POSSIBLE_FLOOD_ZONE,NaN,NaN,...,8.0,NaN,None,apartment,NaN,NaN,1.0,NaN,2,residential_sale
181792,https://www.immoweb.be/en/classified/apartment...,2.0,3,NaN,Belgium,Brussels,NaN,NON_FLOOD_ZONE,NaN,NaN,...,NaN,NaN,GOOD,apartment,NaN,NaN,1.0,3.0,2,residential_monthly_rent

Step 3: Exploring the DataFrame

In [5]:
print(df.shape)
print(df.info())
print(df.describe())

(118714, 32)
<class 'pandas.core.frame.DataFrame'>
Index: 118714 entries, 2 to 181792
Data columns (total 32 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Url                118714 non-null  object
 1   BathroomCount      109112 non-null  float64
 2   BedroomCount       118714 non-null  int64
 3   ConstructionYear   68898 non-null   float64
 4   Country            118714 non-null  object
 5   District           118707 non-null  object
 6   Fireplace          4123 non-null    float64
 7   FloodingZone       58342 non-null   object
 8   Furnished          30325 non-null   float64
 9   Garden             22503 non-null   float64
 10  GardenArea         22503 non-null   float64
 11  Kitchen            67134 non-null   object
 12  LivingArea         104539 non-null  float64
 13  Locality           118712 non-null  object
 14  MonthlyCharges     13650 non-null   float64
 15  NumberOfFacades    76942 non-null   float64
 16  PEB                85074 non-null   object
 17  PostalCode         118714 non-null  int64
 18  Price              118714 non-null  int64
 19  PropertyId         118714 non-null  int64
 20  Province           118707 non-null  object
 21  Region             118707 non-null  object
 22  RoomCount          32916 non-null   float64
 23  ShowerCount        57127 non-null   float64
 24  StateOfBuilding    81622 non-null   object
 25  SubtypeOfProperty  118714 non-null  object
 26  SurfaceOfPlot      58237 non-null   float64
 27  SwimmingPool       40358 non-null   float64
 28  Terrace            68344 non-null   float64
 29  ToiletCount        96441 non-null   float64
 30  TypeOfProperty     118714 non-null  int64
 31  TypeOfSale         118714 non-null  object
dtypes: float64(15), int64(5), object(12)
memory usage: 29.9+ MB
None
       BathroomCount   BedroomCount  ConstructionYear  Fireplace  \
count  109112.000000  118714.000000      68898.000000     4123.0
mean        1.232898       2.708383       1987.345496        1.0
std         1.092045       1.855343         47.311922        0.0
min         0.000000       0.000000       1753.000000        1.0
25%         1.000000       2.000000       1964.000000        1.0
50%         1.000000       3.000000       2000.000000        1.0
75%         1.000000       3.000000       2023.000000        1.0
max       145.000000     200.000000       8071.000000        1.0

          Furnished   Garden    GardenArea     LivingArea  MonthlyCharges  \
count  30325.000000  22503.0  2.250300e+04  104539.000000    13650.000000
mean       0.070041      1.0  4.509960e+04     167.396417       84.239853
std        0.255221      0.0  6.666220e+06    1814.592952      179.608171
min        0.000000      1.0  1.000000e+00       9.000000        0.000000
25%        0.000000      1.0  4.800000e+01      90.000000        0.000000
50%        0.000000      1.0  1.400000e+02     124.000000       30.000000
75%        0.000000      1.0  4.500000e+02     182.000000      120.000000
max        1.000000      1.0  1.000000e+09  452230.000000     5250.000000

       NumberOfFacades     PostalCode         Price    PropertyId  \
count     76942.000000  118714.000000  1.187140e+05  1.187140e+05
mean          2.791557    5166.113129  3.815797e+05  1.245875e+07
std           0.872792    3060.657713  4.754330e+05  3.131297e+06
min           1.000000       0.000000  1.000000e+00  1.882546e+06
25%           2.000000    2250.000000  2.000000e+05  1.114592e+07
50%           3.000000    4671.000000  3.095000e+05  1.138077e+07
75%           4.000000    8400.000000  4.390000e+05  1.146776e+07
max          24.000000    9992.000000  3.500000e+07  2.002586e+07

          RoomCount   ShowerCount  SurfaceOfPlot  SwimmingPool  Terrace  \
count  32916.000000  57127.000000   5.823700e+04  40358.000000  68344.0
mean       6.806538      0.696186   3.118253e+03      0.050994      1.0
std        5.458941      6.563612   4.776406e+05      0.219987      0.0
min        1.000000      0.000000   0.000000e+00      0.000000      1.0
25%        2.000000      0.000000   1.480000e+02      0.000000      1.0
50%        6.000000      0.000000   3.530000e+02      0.000000      1.0
75%       10.000000      1.000000   8.000000e+02      0.000000      1.0
max       68.000000   1120.000000   1.152500e+08      1.000000      1.0

        ToiletCount  TypeOfProperty
count  9.644100e+04   118714.000000
mean   4.120696e+01        1.509460
std    1.234059e+04        0.499913
min    0.000000e+00        1.000000
25%    1.000000e+00        1.000000
50%    1.000000e+00        2.000000
75%    2.000000e+00        2.000000
max    3.832365e+06        2.000000

Step 4: Data Cleaning and Preprocessing

Delete Blank spaces

In [32]:
df['Url'] = df['Url'].str.strip()
df['Country'] = df['Country'].str.strip()
df['District'] = df['District'].str.strip()
df['FloodingZone'] = df['FloodingZone'].str.strip()
df['Kitchen'] = df['Kitchen'].str.strip()
df['Locality'] = df['Locality'].str.strip()
df['PEB'] = df['PEB'].str.strip()
df['Province'] = df['Province'].str.strip()
df['Region'] = df['Region'].str.strip()
df['StateOfBuilding'] = df['StateOfBuilding'].str.strip()
df['SubtypeOfProperty'] = df['SubtypeOfProperty'].str.strip()
df['TypeOfSale'] = df['TypeOfSale'].str.strip

df

,Url,BathroomCount,BedroomCount,ConstructionYear,Country,District,Fireplace,FloodingZone,Furnished,Garden,...,RoomCount,ShowerCount,StateOfBuilding,SubtypeOfProperty,SurfaceOfPlot,SwimmingPool,Terrace,ToiletCount,TypeOfProperty,TypeOfSale
2,https://www.immoweb.be/en/classified/apartment...,1.0,1,1969.0,Belgium,Brugge,NaN,None,NaN,NaN,...,1.0,0.0,GOOD,flat_studio,NaN,NaN,1.0,1.0,2,<bound method StringMethods.strip of <pandas.c...
6,https://www.immoweb.be/en/classified/house/for...,6.0,13,1920.0,Belgium,Tournai,NaN,None,0.0,NaN,...,31.0,NaN,GOOD,apartment_block,130.0,NaN,NaN,5.0,1,<bound method StringMethods.strip of <pandas.c...
8,https://www.immoweb.be/en/classified/house/for...,2.0,4,2008.0,Belgium,Brugge,NaN,NON_FLOOD_ZONE,1.0,NaN,...,NaN,0.0,GOOD,house,0.0,NaN,NaN,2.0,1,<bound method StringMethods.strip of <pandas.c...
10,https://www.immoweb.be/en/classified/house/for...,1.0,4,NaN,Belgium,Veurne,NaN,None,NaN,1.0,...,NaN,NaN,TO_BE_DONE_UP,house,170.0,0.0,1.0,2.0,1,<bound method StringMethods.strip of <pandas.c...
11,https://www.immoweb.be/en/classified/apartment...,0.0,2,1972.0,Belgium,Hasselt,NaN,NON_FLOOD_ZONE,NaN,NaN,...,1.0,0.0,AS_NEW,apartment,NaN,NaN,1.0,1.0,2,<bound method StringMethods.strip of <pandas.c...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181788,https://www.immoweb.be/en/classified/house/for...,1.0,3,2024.0,Belgium,Gent,NaN,None,NaN,1.0,...,4.0,NaN,GOOD,house,234.0,NaN,NaN,0.0,1,<bound method StringMethods.strip of <pandas.c...
181789,https://www.immoweb.be/en/classified/house/for...,4.0,4,NaN,Belgium,Antwerp,NaN,None,0.0,NaN,...,NaN,NaN,JUST_RENOVATED,apartment_block,202.0,NaN,NaN,NaN,1,<bound method StringMethods.strip of <pandas.c...
181790,https://www.immoweb.be/en/classified/apartment...,1.0,2,NaN,Belgium,Antwerp,NaN,NON_FLOOD_ZONE,NaN,NaN,...,NaN,NaN,GOOD,apartment,NaN,0.0,1.0,1.0,2,<bound method StringMethods.strip of <pandas.c...
181791,https://www.immoweb.be/en/classified/apartment...,1.0,2,NaN,Belgium,Brugge,NaN,POSSIBLE_FLOOD_ZONE,NaN,NaN,...,8.0,NaN,None,apartment,NaN,NaN,1.0,NaN,2,<bound method StringMethods.strip of <pandas.c...
181792,https://www.immoweb.be/en/classified/apartment...,2.0,3,NaN,Belgium,Brussels,NaN,NON_FLOOD_ZONE,NaN,NaN,...,NaN,NaN,GOOD,apartment,NaN,NaN,1.0,3.0,2,<bound method StringMethods.strip of <pandas.c...

Checking for duplicates

In [31]:
df = df.drop_duplicates()
df

Checking for empty values and replace by the median

In [ ]:
df = df.fillna({'BathroomCount': df['BathroomCount'].median(),
                 'ConstructionYear': df['ConstructionYear'].median(), 
                 'Fireplace': df['Fireplace'].median(), 
                 'Furnished': df['Furnished'].median(), 
                 'Garden': df['Garden'].median(), 
                 'GardenArea': df['GardenArea'].median(),
                 'LivingArea': df['LivingArea'].median(), 
                 'MonthlyCharges': df['MonthlyCharges'].median(), 
                 'NumberOfFacades': df['NumberOfFacades'].median(), 
                 'RoomCount': df['RoomCount'].median(), 
                 'ShowerCount': df['ShowerCount'].median(), 
                 'SurfaceOfPlot': df['SurfaceOfPlot'].median(), 
                 'SwimmingPool': df['SwimmingPool'].median(), 
                 'Terrace': df['Terrace'].median(), 
                 'ToiletCount': df['ToiletCount'].median()
                 })
df

In [ ]:
df = df.fillna({'FloodingZone': df['FloodingZone'].mode()[0],
                'Country': df['Country'].mode()[0], 
                'District': df['District'].mode()[0], 
                'Kitchen': df['Kitchen'].mode()[0], 
                'Locality': df['Locality'].mode()[0], 
                'PEB': df['PEB'].mode()[0], 
                'Province': df['Province'].mode()[0], 
                'Region': df['Region'].mode()[0], 
                'StateOfBuilding': df['StateOfBuilding'].mode()[0], 
                'SubtypeOfProperty': df['SubtypeOfProperty'].mode()[0], 
                'TypeOfSale': df['TypeOfSale'].mode()[0]
                })

First round all int values in columns

In [ ]:
df = df.round({'BathroomCount': 2, 
               'ConstructionYear': 2, 
               'Fireplace': 2, 
               'Furnished': 2, 
               'GardenArea': 2, 
               'LivingArea': 2, 
               'MonthlyCharges': 2, 
               'NumberOfFacades': 2, 
               'RoomCount': 2, 
               'ShowerCount': 2, 
               'SurfaceOfPlot': 2, 
               'SwimmingPool': 2, 
               'ToiletCount': 2, 
               'Terrace': 2
               })